 body{
 	background-color: #408080;
 	font-family: sans-serif;
 }
 
 .div1{
        background-color: #0000a0;
		 display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:10%;
        font-size: 20px;
        color:white;
        font-size: 10px;
 }
 
 .div2{
 	margin-top:20px;
	display:flex;
	align-items: center;
	justify-content: center;
	text-align: center;
 	
 }
 
 
footer{
        background-color: red;
		 display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:10%;
        font-size: 10px;
        color:white;
        font-size: 10px;
 }